//--------------------------------------------------------------
// Variables
// - colors
// - breakpoints
//--------------------------------------------------------------

// Colors
$color-red: #ff0000;

// Media Query Breakpoints
$xlarge-desktop: 1400px;
$large-desktop: 1000px;
$desktop: 768px;
$tablet: 480px;